## Ans1)

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('services.csv')

In [5]:
df.head(1)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN

In [6]:
df.tail(1)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [7]:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [9]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

## Ans2)

In [16]:
import pandas as pd

def calculate_sum(df):
    sum_values = 0
    count = 0

    for value in df['Values']:
        if count < 3:
            sum_values += value
            count += 1
        else:
            break

    print("Sum of the first three values:", sum_values)


data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

calculate_sum(df)

Sum of the first three values: 60

## Ans3)

In [12]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
    df_reindexed = df.reset_index(drop=True).set_index(new_index)
    return df_reindexed

data = {'A': [10, 20, 30, 40],
        'B': [50, 60, 70, 80],
        'C': [90, 100, 110, 120]}
df = pd.DataFrame(data)

df_reindexed = reindex_dataframe(df)
print(df_reindexed)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

## Ans 4)

In [17]:

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df


data = {'Text': ['Hello, how are you?', 'I am doing great.', 'Python programming is fun!']}
df = pd.DataFrame(data)


df_with_word_count = add_word_count_column(df)
print(df_with_word_count)

                         Text  Word_Count
0         Hello, how are you?           4
1           I am doing great.           4
2  Python programming is fun!           4

## Ans5)

In [18]:
# DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.size) 

#DataFrame.shape returns a tuple representing the dimensions of the DataFrame, where the first element represents the number of rows and the second element represents the number of columns.

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.shape)

6
(3, 2)

## Ans6)

In [ ]:
import pandas as pd

df = pd.read_excel('file.xlsx')

print(df)

## Ans7)

In [21]:
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df


data = {'Email': ['john.doe@example.com', 'emma.smith@example.com', 'tom.johnson@example.com']}
df = pd.DataFrame(data)

df_with_username = extract_username(df)
print(df_with_username)

                     Email     Username
0     john.doe@example.com     john.doe
1   emma.smith@example.com   emma.smith
2  tom.johnson@example.com  tom.johnson

## Ans8)

In [22]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Ans9)

In [23]:

def calculate_statistics(df):
    values = df['Values']
    mean_value = values.mean()
    median_value = values.median()
    std_value = values.std()
    return mean_value, median_value, std_value

data = {'Values': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)

mean, median, std = calculate_statistics(df)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 35.0
Median: 35.0
Standard Deviation: 18.708286933869708

## Ans 10)

In [24]:

def calculate_moving_average(df):
    window_size = 7
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df

data = {'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60],
        'Date': pd.date_range(start='2023-01-01', periods=11)}
df = pd.DataFrame(data)

df_with_ma = calculate_moving_average(df)
print(df_with_ma)

    Sales       Date  MovingAverage
0      10 2023-01-01           10.0
1      15 2023-01-02           12.5
2      20 2023-01-03           15.0
3      25 2023-01-04           17.5
4      30 2023-01-05           20.0
5      35 2023-01-06           22.5
6      40 2023-01-07           25.0
7      45 2023-01-08           30.0
8      50 2023-01-09           35.0
9      55 2023-01-10           40.0
10     60 2023-01-11           45.0

## Ans11)

In [25]:

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

data = {'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])}
df = pd.DataFrame(data)

df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Ans12)

In [26]:

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[df['Date'].between(start_date, end_date)]
    return selected_rows

data = {'Date': pd.to_datetime(['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10'])}
df = pd.DataFrame(data)

selected_df = select_rows_between_dates(df)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

## Ans13)

In [30]:

import pandas as pd