In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

## Ans 1)

In [10]:
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Ans2)

In [11]:
# loc is primarily label-based, which means it uses row and column labels to access data. 
# iloc is primarily integer-based, which means it uses integer positions to access data.

## Ans3)

In [12]:
new_df = df.reindex([3,0,1,2])

In [13]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [14]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [16]:
# The difference is loc choose the "index name" to get the row details, However iloc choose the index position given input and give output

## Ans 4)

In [17]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.187309  0.694102  0.035054  0.390344  0.640750  0.768146
2  0.560893  0.664764  0.453482  0.181551  0.755857  0.968604
3  0.226417  0.531330  0.750842  0.979968  0.189521  0.141723
4  0.016802  0.108212  0.981549  0.678395  0.594916  0.376201
5  0.261598  0.470289  0.478121  0.361445  0.748102  0.840945
6  0.862726  0.489979  0.826413  0.528852  0.609854  0.360202

In [19]:
df1.mean()

column_1    0.352624
column_2    0.493113
column_3    0.587577
column_4    0.520092
column_5    0.589833
column_6    0.575970
dtype: float64

In [24]:
df1['column_2'].std()

0.20976192181349396

## Ans5)

In [ ]:
df1.loc[2, 'column_2'] = 'string'

column_2_mean = df1['column_2'].mean()
print(column_2_mean)

In [26]:
# However, if you execute this code, you will encounter an error because the column 'column_2' contains a mix of numeric values and a string value.
# Pandas will infer the column's data type as object due to the presence of the string value. Consequently, 
# when calculating the mean using df1['column_2'].mean(), it will throw an error because the mean cannot be calculated for a column 
# containing both numeric and non-numeric values.

## Ans6)

In [27]:
# Rolling Window Functions:

# Rolling mean (rolling().mean()): Calculates the mean of values within a specified window.
# Rolling sum (rolling().sum()): Calculates the sum of values within a specified window.

#Expanding Window Functions:

# Expanding mean (expanding().mean()): Calculates the mean of values from the start to the current index.
# Expanding sum (expanding().sum()): Calculates the sum of values from the start to the current index.

## Ans7)

In [29]:

current_date = datetime.now()
current_month = current_date.strftime('%B')
current_year = current_date.year

print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: July
Current year: 2023

## Ans8)

In [30]:
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_diff = date2 - date1

days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

print(f"Difference: {days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2023-05-23
Enter the second date (YYYY-MM-DD):  2022-05-27

Difference: -361 days, 0 hours, 0 minutes

## Ans9)

In [ ]:
file_path = input("Enter the CSV file path: ")


data = pd.read_csv(file_path)

column_name = input("Enter the column name: ")
data[column_name] = pd.Categorical(data[column_name])


category_order = input("Enter the category order (comma-separated values): ").split(',')

data[column_name] = data[column_name].cat.set_categories(category_order)

sorted_data = data.sort_values(by=column_name)

print(sorted_data)

## Ans10)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path: ")

df = pd.read_csv(file_path)

df_grouped = df.groupby(['Category', 'Year']).sum()


df_pivot = df_grouped.pivot_table(values='Sales', index='Year', columns='Category')

df_pivot.plot(kind='bar', stacked=True)

plt.xlabel('Year')
plt.ylabel('Sales')
plt.title('Sales of Product Categories Over Time')
plt.legend(title='Category')
plt.show()

## Ans 11)

In [ ]:
import pandas as pd


file_path = input("Enter the file path of the CSV file containing the student data: ")

df = pd.read_csv(file_path)


mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})

print(table)